<h2 mat-dialog-title> Delete Bookmark </h2>
<div mat-dialog-content>
    Are you sure you want to delete your
    <a href="{{url}}" target="_blank"><strong>{{name}}</strong></a> bookmark?
</div>
<div class="dialog-action-buttons-container">
    <button mat-raised-button
            color="primary"
            class="dialog-confirm-btn"
            (click)="onConfirm()">
        OK
    </button>
    <button mat-stroked-button
            color="primary"
            class="dialog-cancel-btn"
            (click)="onCancel()">
        Cancel
    </button>
</div>